C 0 0 "DREG" 0 0 0 0 60 0 L
X "PIN_TEXT" "DREG" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "BCLK" 0 -100 0 0 60 0 L
X "PIN_TEXT" "BCLK" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "FSYNC" 0 -200 0 0 60 0 L
X "PIN_TEXT" "FSYNC" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "DOUT" 0 -300 0 0 60 0 L
X "PIN_TEXT" "DOUT" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "MD6" 0 -400 0 0 60 0 L
X "PIN_TEXT" "MD6" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "IOVDD" 0 -500 0 0 60 0 L
X "PIN_TEXT" "IOVDD" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "MD1" 0 -600 0 0 60 0 L
X "PIN_TEXT" "MD1" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "MD2" 0 -700 0 0 60 0 L
X "PIN_TEXT" "MD2" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "MD3" 0 -800 0 0 60 0 L
X "PIN_TEXT" "MD3" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 0 -900 "MD4" 0 -900 0 0 60 0 L
X "PIN_TEXT" "MD4" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
C 0 -1000 "GPO" 0 -1000 0 0 60 0 L
X "PIN_TEXT" "GPO" 230 -1030 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1000 0 -1000 -1 0
C 0 -1100 "MD5" 0 -1100 0 0 60 0 L
X "PIN_TEXT" "MD5" 230 -1130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1100 0 -1100 -1 0
C 0 -1200 "MD0" 0 -1200 0 0 60 0 L
X "PIN_TEXT" "MD0" 230 -1230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1200 0 -1200 -1 0
C 0 -1300 "MICBIAS" 0 -1300 0 0 60 0 L
X "PIN_TEXT" "MICBIAS" 230 -1330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1300 0 -1300 -1 0
C 0 -1400 "IN1P" 0 -1400 0 0 60 0 L
X "PIN_TEXT" "IN1P" 230 -1430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1400 0 -1400 -1 0
C 1400 0 "IN1M" 1400 0 0 0 60 0 R
X "PIN_TEXT" "IN1M" 1170 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 0 1400 0 -1 0
C 1400 -100 "IN2P" 1400 -100 0 0 60 0 R
X "PIN_TEXT" "IN2P" 1170 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -100 1400 -100 -1 0
C 1400 -200 "IN2M" 1400 -200 0 0 60 0 R
X "PIN_TEXT" "IN2M" 1170 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -200 1400 -200 -1 0
C 1400 -300 "VSSA_1" 1400 -300 0 0 60 0 R
X "PIN_TEXT" "VSSA_1" 1170 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -300 1400 -300 -1 0
C 1400 -400 "VSSA_2" 1400 -400 0 0 60 0 R
X "PIN_TEXT" "VSSA_2" 1170 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -400 1400 -400 -1 0
C 1400 -500 "VSSA_3" 1400 -500 0 0 60 0 R
X "PIN_TEXT" "VSSA_3" 1170 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -500 1400 -500 -1 0
C 1400 -600 "VSSA_4" 1400 -600 0 0 60 0 R
X "PIN_TEXT" "VSSA_4" 1170 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -600 1400 -600 -1 0
C 1400 -700 "AVDD" 1400 -700 0 0 60 0 R
X "PIN_TEXT" "AVDD" 1170 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -700 1400 -700 -1 0
C 1400 -800 "VREF" 1400 -800 0 0 60 0 R
X "PIN_TEXT" "VREF" 1170 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -800 1400 -800 -1 0
C 1400 -900 "EP" 1400 -900 0 0 60 0 R
X "PIN_TEXT" "EP" 1170 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -900 1400 -900 -1 0
C 1400 -1000 "VSS_1" 1400 -1000 0 0 60 0 R
X "PIN_TEXT" "VSS_1" 1170 -1030 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -1000 1400 -1000 -1 0
C 1400 -1100 "VSS_2" 1400 -1100 0 0 60 0 R
X "PIN_TEXT" "VSS_2" 1170 -1130 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -1100 1400 -1100 -1 0
C 1400 -1200 "VSS_3" 1400 -1200 0 0 60 0 R
X "PIN_TEXT" "VSS_3" 1170 -1230 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -1200 1400 -1200 -1 0
C 1400 -1300 "VSS_4" 1400 -1300 0 0 60 0 R
X "PIN_TEXT" "VSS_4" 1170 -1330 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -1300 1400 -1300 -1 0
L 200 100 1200 100 -1 0
L 1200 -1500 1200 100 -1 0
L 1200 -1500 200 -1500 -1 0
L 200 100 200 -1500 -1 0
P "$LOCATION" "?" 1250 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

