C 0 0 "NC_1" 0 0 0 0 60 0 L
X "PIN_TEXT" "NC_1" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "VREFL1" 0 -100 0 0 60 0 L
X "PIN_TEXT" "VREFL1" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "VREFH1" 0 -200 0 0 60 0 L
X "PIN_TEXT" "VREFH1" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "AIN2N" 0 -300 0 0 60 0 L
X "PIN_TEXT" "AIN2N" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "AIN2P" 0 -400 0 0 60 0 L
X "PIN_TEXT" "AIN2P" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "AVDD" 0 -500 0 0 60 0 L
X "PIN_TEXT" "AVDD" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "AVSS" 0 -600 0 0 60 0 L
X "PIN_TEXT" "AVSS" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "TESTIN1" 0 -700 0 0 60 0 L
X "PIN_TEXT" "TESTIN1" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "TESTIN2" 0 -800 0 0 60 0 L
X "PIN_TEXT" "TESTIN2" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 0 -900 "TESTIN3" 0 -900 0 0 60 0 L
X "PIN_TEXT" "TESTIN3" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
C 0 -1000 "TESTIN4" 0 -1000 0 0 60 0 L
X "PIN_TEXT" "TESTIN4" 230 -1030 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1000 0 -1000 -1 0
C 0 -1100 "NC_2" 0 -1100 0 0 60 0 L
X "PIN_TEXT" "NC_2" 230 -1130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1100 0 -1100 -1 0
C 400 -1900 "TESTIN5" 400 -1900 0 0 60 0 L
X "PIN_TEXT" "TESTIN5" 430 -1670 90 0.00 60 0 0 0 0 0 1 0 74
L 400 -1700 400 -1900 -1 0
C 500 -1900 "TESTIN6" 500 -1900 0 0 60 0 L
X "PIN_TEXT" "TESTIN6" 530 -1670 90 0.00 60 0 0 0 0 0 1 0 74
L 500 -1700 500 -1900 -1 0
C 600 -1900 "TEST" 600 -1900 0 0 60 0 L
X "PIN_TEXT" "TEST" 630 -1670 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -1700 600 -1900 -1 0
C 700 -1900 "MCLK" 700 -1900 0 0 60 0 L
X "PIN_TEXT" "MCLK" 730 -1670 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -1700 700 -1900 -1 0
C 800 -1900 "TVDD" 800 -1900 0 0 60 0 L
X "PIN_TEXT" "TVDD" 830 -1670 90 0.00 60 0 0 0 0 0 1 0 74
L 800 -1700 800 -1900 -1 0
C 900 -1900 "DVSS" 900 -1900 0 0 60 0 L
X "PIN_TEXT" "DVSS" 930 -1670 90 0.00 60 0 0 0 0 0 1 0 74
L 900 -1700 900 -1900 -1 0
C 1000 -1900 "VDD18" 1000 -1900 0 0 60 0 L
X "PIN_TEXT" "VDD18" 1030 -1670 90 0.00 60 0 0 0 0 0 1 0 74
L 1000 -1700 1000 -1900 -1 0
C 1100 -1900 "PDN" 1100 -1900 0 0 60 0 L
X "PIN_TEXT" "PDN" 1130 -1670 90 0.00 60 0 0 0 0 0 1 0 74
L 1100 -1700 1100 -1900 -1 0
C 1200 -1900 "PW0" 1200 -1900 0 0 60 0 L
X "PIN_TEXT" "PW0" 1230 -1670 90 0.00 60 0 0 0 0 0 1 0 74
L 1200 -1700 1200 -1900 -1 0
C 1300 -1900 "PW1" 1300 -1900 0 0 60 0 L
X "PIN_TEXT" "PW1" 1330 -1670 90 0.00 60 0 0 0 0 0 1 0 74
L 1300 -1700 1300 -1900 -1 0
C 1400 -1900 "PW2" 1400 -1900 0 0 60 0 L
X "PIN_TEXT" "PW2" 1430 -1670 90 0.00 60 0 0 0 0 0 1 0 74
L 1400 -1700 1400 -1900 -1 0
C 1500 -1900 "MSN" 1500 -1900 0 0 60 0 L
X "PIN_TEXT" "MSN" 1530 -1670 90 0.00 60 0 0 0 0 0 1 0 74
L 1500 -1700 1500 -1900 -1 0
C 2000 0 "SD/PMOD" 2000 0 0 0 60 0 R
X "PIN_TEXT" "SD/PMOD" 1770 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 0 2000 0 -1 0
C 2000 -100 "SLOW/DCKB" 2000 -100 0 0 60 0 R
X "PIN_TEXT" "SLOW/DCKB" 1770 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -100 2000 -100 -1 0
C 2000 -200 "CKS3/CAD1" 2000 -200 0 0 60 0 R
X "PIN_TEXT" "CKS3/CAD1" 1770 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -200 2000 -200 -1 0
C 2000 -300 "CKS2/SCL/CCLK" 2000 -300 0 0 60 0 R
X "PIN_TEXT" "CKS2/SCL/CCLK" 1770 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -300 2000 -300 -1 0
C 2000 -400 "CKS1/CAD0_I2C/CSN" 2000 -400 0 0 60 0 R
X "PIN_TEXT" "CKS1/CAD0_I2C/CSN" 1770 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -400 2000 -400 -1 0
C 2000 -500 "CKS0/SDA/CDTI" 2000 -500 0 0 60 0 R
X "PIN_TEXT" "CKS0/SDA/CDTI" 1770 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -500 2000 -500 -1 0
C 2000 -600 "OVF" 2000 -600 0 0 60 0 R
X "PIN_TEXT" "OVF" 1770 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -600 2000 -600 -1 0
C 2000 -700 "TESTO1" 2000 -700 0 0 60 0 R
X "PIN_TEXT" "TESTO1" 1770 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -700 2000 -700 -1 0
C 2000 -800 "SDTO1" 2000 -800 0 0 60 0 R
X "PIN_TEXT" "SDTO1" 1770 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -800 2000 -800 -1 0
C 2000 -900 "TDMIN/DSDOR1" 2000 -900 0 0 60 0 R
X "PIN_TEXT" "TDMIN/DSDOR1" 1770 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -900 2000 -900 -1 0
C 2000 -1000 "LRCK/DSDOL1" 2000 -1000 0 0 60 0 R
X "PIN_TEXT" "LRCK/DSDOL1" 1770 -1030 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -1000 2000 -1000 -1 0
C 2000 -1100 "BICK/DCLK" 2000 -1100 0 0 60 0 R
X "PIN_TEXT" "BICK/DCLK" 1770 -1130 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -1100 2000 -1100 -1 0
C 400 1000 "EPAD" 400 1000 0 0 60 0 R
X "PIN_TEXT" "EPAD" 430 770 90 0.00 60 0 0 2 0 0 1 0 74
L 400 800 400 1000 -1 0
C 500 1000 "AIN1N" 500 1000 0 0 60 0 R
X "PIN_TEXT" "AIN1N" 530 770 90 0.00 60 0 0 2 0 0 1 0 74
L 500 800 500 1000 -1 0
C 600 1000 "AIN1P" 600 1000 0 0 60 0 R
X "PIN_TEXT" "AIN1P" 630 770 90 0.00 60 0 0 2 0 0 1 0 74
L 600 800 600 1000 -1 0
C 700 1000 "ODP" 700 1000 0 0 60 0 R
X "PIN_TEXT" "ODP" 730 770 90 0.00 60 0 0 2 0 0 1 0 74
L 700 800 700 1000 -1 0
C 800 1000 "LDOE" 800 1000 0 0 60 0 R
X "PIN_TEXT" "LDOE" 830 770 90 0.00 60 0 0 2 0 0 1 0 74
L 800 800 800 1000 -1 0
C 900 1000 "HPFE/DCKS" 900 1000 0 0 60 0 R
X "PIN_TEXT" "HPFE/DCKS" 930 770 90 0.00 60 0 0 2 0 0 1 0 74
L 900 800 900 1000 -1 0
C 1000 1000 "DP" 1000 1000 0 0 60 0 R
X "PIN_TEXT" "DP" 1030 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1000 800 1000 1000 -1 0
C 1100 1000 "I2C" 1100 1000 0 0 60 0 R
X "PIN_TEXT" "I2C" 1130 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1100 800 1100 1000 -1 0
C 1200 1000 "PSN/CAD0_SPI" 1200 1000 0 0 60 0 R
X "PIN_TEXT" "PSN/CAD0_SPI" 1230 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1200 800 1200 1000 -1 0
C 1300 1000 "TDM1" 1300 1000 0 0 60 0 R
X "PIN_TEXT" "TDM1" 1330 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1300 800 1300 1000 -1 0
C 1400 1000 "TDM0" 1400 1000 0 0 60 0 R
X "PIN_TEXT" "TDM0" 1430 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1400 800 1400 1000 -1 0
C 1500 1000 "DIF1/DSDSEL1" 1500 1000 0 0 60 0 R
X "PIN_TEXT" "DIF1/DSDSEL1" 1530 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1500 800 1500 1000 -1 0
C 1600 1000 "DIF0/DSDSEL0" 1600 1000 0 0 60 0 R
X "PIN_TEXT" "DIF0/DSDSEL0" 1630 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1600 800 1600 1000 -1 0
L 200 800 1800 800 -1 0
L 1800 -1700 1800 800 -1 0
L 1800 -1700 200 -1700 -1 0
L 200 800 200 -1700 -1 0
P "$LOCATION" "?" 1850 970 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

