C 0 0 "CLKIN" 0 0 0 0 60 0 L
X "PIN_TEXT" "CLKIN" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "1G" 0 -100 0 0 60 0 L
X "PIN_TEXT" "1G" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "Y0" 0 -200 0 0 60 0 L
X "PIN_TEXT" "Y0" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "GND" 0 -300 0 0 60 0 L
X "PIN_TEXT" "GND" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 1100 0 "Y1" 1100 0 0 0 60 0 R
X "PIN_TEXT" "Y1" 870 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 900 0 1100 0 -1 0
C 1100 -100 "Y3" 1100 -100 0 0 60 0 R
X "PIN_TEXT" "Y3" 870 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -100 1100 -100 -1 0
C 1100 -200 "VDD" 1100 -200 0 0 60 0 R
X "PIN_TEXT" "VDD" 870 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -200 1100 -200 -1 0
C 1100 -300 "Y2" 1100 -300 0 0 60 0 R
X "PIN_TEXT" "Y2" 870 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -300 1100 -300 -1 0
L 200 100 900 100 -1 0
L 900 -400 900 100 -1 0
L 900 -400 200 -400 -1 0
L 200 100 200 -400 -1 0
P "$LOCATION" "?" 950 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

