C 0 0 "DVDD" 0 0 0 0 60 0 L
X "PIN_TEXT" "DVDD" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "PDN" 0 -100 0 0 60 0 L
X "PIN_TEXT" "PDN" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "BICK/DCLK/BCK" 0 -200 0 0 60 0 L
X "PIN_TEXT" "BICK/DCLK/BCK" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "SDATA/DSDL/DINL" 0 -300 0 0 60 0 L
X "PIN_TEXT" "SDATA/DSDL/DINL" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "LRCK/DSDR/DINR" 0 -400 0 0 60 0 L
X "PIN_TEXT" "LRCK/DSDR/DINR" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "SSLOW/WCK" 0 -500 0 0 60 0 L
X "PIN_TEXT" "SSLOW/WCK" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "SMUTE/CSN" 0 -600 0 0 60 0 L
X "PIN_TEXT" "SMUTE/CSN" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "SD/CCLK/SCL" 0 -700 0 0 60 0 L
X "PIN_TEXT" "SD/CCLK/SCL" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "SLOW/CDTI/SDA" 0 -800 0 0 60 0 L
X "PIN_TEXT" "SLOW/CDTI/SDA" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 0 -900 "DIF0/DZFL" 0 -900 0 0 60 0 L
X "PIN_TEXT" "DIF0/DZFL" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
C 0 -1000 "DIF1/DZFR" 0 -1000 0 0 60 0 L
X "PIN_TEXT" "DIF1/DZFR" 230 -1030 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1000 0 -1000 -1 0
C 0 -1100 "DIF2/CAD0" 0 -1100 0 0 60 0 L
X "PIN_TEXT" "DIF2/CAD0" 230 -1130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1100 0 -1100 -1 0
C 300 -2000 "PSN" 300 -2000 0 0 60 0 L
X "PIN_TEXT" "PSN" 330 -1770 90 0.00 60 0 0 0 0 0 1 0 74
L 300 -1800 300 -2000 -1 0
C 400 -2000 "I2C/INV" 400 -2000 0 0 60 0 L
X "PIN_TEXT" "I2C/INV" 430 -1770 90 0.00 60 0 0 0 0 0 1 0 74
L 400 -1800 400 -2000 -1 0
C 500 -2000 "DEM0" 500 -2000 0 0 60 0 L
X "PIN_TEXT" "DEM0" 530 -1770 90 0.00 60 0 0 0 0 0 1 0 74
L 500 -1800 500 -2000 -1 0
C 600 -2000 "LDOE" 600 -2000 0 0 60 0 L
X "PIN_TEXT" "LDOE" 630 -1770 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -1800 600 -2000 -1 0
C 700 -2000 "ACKS/CAD1" 700 -2000 0 0 60 0 L
X "PIN_TEXT" "ACKS/CAD1" 730 -1770 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -1800 700 -2000 -1 0
C 800 -2000 "TESTE" 800 -2000 0 0 60 0 L
X "PIN_TEXT" "TESTE" 830 -1770 90 0.00 60 0 0 0 0 0 1 0 74
L 800 -1800 800 -2000 -1 0
C 900 -2000 "VREFHR_1" 900 -2000 0 0 60 0 L
X "PIN_TEXT" "VREFHR_1" 930 -1770 90 0.00 60 0 0 0 0 0 1 0 74
L 900 -1800 900 -2000 -1 0
C 1000 -2000 "VREFHR_2" 1000 -2000 0 0 60 0 L
X "PIN_TEXT" "VREFHR_2" 1030 -1770 90 0.00 60 0 0 0 0 0 1 0 74
L 1000 -1800 1000 -2000 -1 0
C 1100 -2000 "VREFLR_1" 1100 -2000 0 0 60 0 L
X "PIN_TEXT" "VREFLR_1" 1130 -1770 90 0.00 60 0 0 0 0 0 1 0 74
L 1100 -1800 1100 -2000 -1 0
C 1200 -2000 "VREFLR_2" 1200 -2000 0 0 60 0 L
X "PIN_TEXT" "VREFLR_2" 1230 -1770 90 0.00 60 0 0 0 0 0 1 0 74
L 1200 -1800 1200 -2000 -1 0
C 1300 -2000 "VCMR" 1300 -2000 0 0 60 0 L
X "PIN_TEXT" "VCMR" 1330 -1770 90 0.00 60 0 0 0 0 0 1 0 74
L 1300 -1800 1300 -2000 -1 0
C 1400 -2000 "NC_1" 1400 -2000 0 0 60 0 L
X "PIN_TEXT" "NC_1" 1430 -1770 90 0.00 60 0 0 0 0 0 1 0 74
L 1400 -1800 1400 -2000 -1 0
C 1800 0 "AOUTLP" 1800 0 0 0 60 0 R
X "PIN_TEXT" "AOUTLP" 1570 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1600 0 1800 0 -1 0
C 1800 -100 "AOUTLN" 1800 -100 0 0 60 0 R
X "PIN_TEXT" "AOUTLN" 1570 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1600 -100 1800 -100 -1 0
C 1800 -200 "VDDL_2" 1800 -200 0 0 60 0 R
X "PIN_TEXT" "VDDL_2" 1570 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1600 -200 1800 -200 -1 0
C 1800 -300 "VDDL_1" 1800 -300 0 0 60 0 R
X "PIN_TEXT" "VDDL_1" 1570 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1600 -300 1800 -300 -1 0
C 1800 -400 "VSSL_2" 1800 -400 0 0 60 0 R
X "PIN_TEXT" "VSSL_2" 1570 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1600 -400 1800 -400 -1 0
C 1800 -500 "VSSL_1" 1800 -500 0 0 60 0 R
X "PIN_TEXT" "VSSL_1" 1570 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1600 -500 1800 -500 -1 0
C 1800 -600 "VSSR_2" 1800 -600 0 0 60 0 R
X "PIN_TEXT" "VSSR_2" 1570 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1600 -600 1800 -600 -1 0
C 1800 -700 "VSSR_1" 1800 -700 0 0 60 0 R
X "PIN_TEXT" "VSSR_1" 1570 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1600 -700 1800 -700 -1 0
C 1800 -800 "VDDR_2" 1800 -800 0 0 60 0 R
X "PIN_TEXT" "VDDR_2" 1570 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 1600 -800 1800 -800 -1 0
C 1800 -900 "VDDR_1" 1800 -900 0 0 60 0 R
X "PIN_TEXT" "VDDR_1" 1570 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 1600 -900 1800 -900 -1 0
C 1800 -1000 "AOUTRN" 1800 -1000 0 0 60 0 R
X "PIN_TEXT" "AOUTRN" 1570 -1030 0 0.00 60 0 0 2 0 0 1 0 74
L 1600 -1000 1800 -1000 -1 0
C 1800 -1100 "AOUTRP" 1800 -1100 0 0 60 0 R
X "PIN_TEXT" "AOUTRP" 1570 -1130 0 0.00 60 0 0 2 0 0 1 0 74
L 1600 -1100 1800 -1100 -1 0
C 300 800 "TVDD" 300 800 0 0 60 0 R
X "PIN_TEXT" "TVDD" 330 570 90 0.00 60 0 0 2 0 0 1 0 74
L 300 600 300 800 -1 0
C 400 800 "DVSS" 400 800 0 0 60 0 R
X "PIN_TEXT" "DVSS" 430 570 90 0.00 60 0 0 2 0 0 1 0 74
L 400 600 400 800 -1 0
C 500 800 "MCLK" 500 800 0 0 60 0 R
X "PIN_TEXT" "MCLK" 530 570 90 0.00 60 0 0 2 0 0 1 0 74
L 500 600 500 800 -1 0
C 600 800 "AVSS" 600 800 0 0 60 0 R
X "PIN_TEXT" "AVSS" 630 570 90 0.00 60 0 0 2 0 0 1 0 74
L 600 600 600 800 -1 0
C 700 800 "AVDD" 700 800 0 0 60 0 R
X "PIN_TEXT" "AVDD" 730 570 90 0.00 60 0 0 2 0 0 1 0 74
L 700 600 700 800 -1 0
C 800 800 "NC_3" 800 800 0 0 60 0 R
X "PIN_TEXT" "NC_3" 830 570 90 0.00 60 0 0 2 0 0 1 0 74
L 800 600 800 800 -1 0
C 900 800 "VREFHL_2" 900 800 0 0 60 0 R
X "PIN_TEXT" "VREFHL_2" 930 570 90 0.00 60 0 0 2 0 0 1 0 74
L 900 600 900 800 -1 0
C 1000 800 "VREFHL_1" 1000 800 0 0 60 0 R
X "PIN_TEXT" "VREFHL_1" 1030 570 90 0.00 60 0 0 2 0 0 1 0 74
L 1000 600 1000 800 -1 0
C 1100 800 "VREFLL_2" 1100 800 0 0 60 0 R
X "PIN_TEXT" "VREFLL_2" 1130 570 90 0.00 60 0 0 2 0 0 1 0 74
L 1100 600 1100 800 -1 0
C 1200 800 "VREFLL_1" 1200 800 0 0 60 0 R
X "PIN_TEXT" "VREFLL_1" 1230 570 90 0.00 60 0 0 2 0 0 1 0 74
L 1200 600 1200 800 -1 0
C 1300 800 "VCML" 1300 800 0 0 60 0 R
X "PIN_TEXT" "VCML" 1330 570 90 0.00 60 0 0 2 0 0 1 0 74
L 1300 600 1300 800 -1 0
C 1400 800 "NC_2" 1400 800 0 0 60 0 R
X "PIN_TEXT" "NC_2" 1430 570 90 0.00 60 0 0 2 0 0 1 0 74
L 1400 600 1400 800 -1 0
L 200 600 1600 600 -1 0
L 1600 -1800 1600 600 -1 0
L 1600 -1800 200 -1800 -1 0
L 200 600 200 -1800 -1 0
P "$LOCATION" "?" 1650 770 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

